@font-face {
    font-family: F1;
    src: url('../Fonts/F1.ttf')
}

* {
    font-family: F1;
}

body {
    background-image: url('../Images/back1.jpg')
}

p {
    margin: 0;
    margin-top: 0.3vh;
}



.topcontiner {
}

.logoNyear {
    width: 10vw;
    display: flex;
    align-items: center;
}

.titleNgp {
    display: flex;
}

.f1logo {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    filter: brightness(0%);
}

.year {
    color: black;
    font-size: 3.4vw;
}

.titleNgp {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.title {
    color: black;
    font-size: 1.7vw;
}

.currentgp {
    color: black;
    font-size: 1vw;
    text-align: right;
}

.driverstabContainer {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.table-gaps {
    border-collapse: separate;
    border-spacing: 0 0.3vw;
}

.table-reg {
    width: 100%;
    text-align: center;
}

.table-row {
    color: whitesmoke;
}

    .table-row td {
        height: 3vw;
        width: 3.5vw;
        font-size: 1.1vw;
        text-align: left;
        overflow: hidden;
    }

        .table-row td:nth-child(2) {
            padding-left: 1vw;
        }

        .table-row td:last-child {
            text-align: center;
            background-color: #0d0f0d;
            width: 7vw;
        }

        .table-row td img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .table-row td:nth-child(3) {
            position: relative;
        }

.driverIMG {
    object-fit: cover;
    object-position: 0% 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%) scale(2);
}


.teamstabContainer {
    display: flex;
    justify-content: center;
}

.table-team {
    width: 50vw;
}

#scnd td:first-child {
}

#scnd td img {
    width: auto;
    height: 3vw;
    object-fit: cover;
}
