<option value="0" selected>Select One...</option>
@foreach (var driver in driverDict)
{
    <option value="@driver.Key">@driver.Value</option>
}


@code{
    [Parameter]
    public Dictionary<int, string> driverDict {get; set;}
}