@if (!guessed)
{
    <EditForm Model="@passwordModel" OnSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <InputText id="passwordInput" @bind-Value="passwordModel.Password" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
}

@if (message != null)
{
    <p>@message</p>
}

@code {
    // A modell az űrlap adatainak tárolására
    private PasswordModel passwordModel = new PasswordModel();
    private string? message;
    private string? password = "titkos";
    bool guessed = false;

    [Parameter]
    public EventCallback<bool> OnPasswordConfirmed { get; set; }

    // Az űrlap elküldésekor végrehajtandó logika
    private async Task HandleSubmit()
    {
        if (passwordModel.Password == password)
        {
            await OnPasswordConfirmed.InvokeAsync(true);
            guessed = true;
        }
        else
        {
            message = "Passwords do not match!";
        }
    }

    // A modell a jelszó és a jelszó megerősítésének tárolásához
    public class PasswordModel
    {
        public string Password { get; set; }
    }
}