<header id="nav-wrapper"> 
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew"><h1 class="logo un-skew"><a href="/">F1PointSystem</a></h1></span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">

                <NavLink href="standings" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">
                            Standings
                        </span>
                    </span>
                </NavLink>

                <NavLink href="empty" class="nav-link">
                    <span class="nav-link-span">
                        <span class="u-nav">
                            stan

                        </span>
                    </span>
                </NavLink>

            </div>
        </nav>
</header>

