@page "/try"

@using System.Net.Sockets;
@using System.Net;
@using System.Text;
@using System.Runtime.InteropServices;
@using System.Collections;
@using F1Pontszamitos_S6.Shared.Utils;
@using F1Pontszamitos_S6.Client.Componenets;
@implements IDisposable
@inject HttpClient Http;
@rendermode @( new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>UDP Listen</PageTitle>

<PasswordForm OnPasswordConfirmed="HandlePasswordConfirmation"></PasswordForm>

<h2>We are listening your port...</h2>

@code {
    bool correct = false;

    

    private async Task FetchRaceOrder()
    {
        await Http.GetFromJsonAsync<List<Individual>>("api/udp/start");
        StateHasChanged(); // Refresh the UI to display the new datak
    }

    // This method gets triggered when the password is confirmed
    private void HandlePasswordConfirmation(bool isCorrect)
    {
        correct = isCorrect;
        if (correct)
        {
            FetchRaceOrder(); // Fetch race order after password is confirmed
        }
    }

    public void Dispose()
    {
        var response = Http.GetAsync("api/udp/dispose");
    }
}