:root {
    --animation-length: 0.8s;
}


.cardContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.667vw;
}

.card {
    background: rgb(223,231,255);
    background: linear-gradient(0deg, rgba(173,216,230,1) 0%, rgba(173, 216, 230, 0.226) 25%);
    width: 16.667vw;
    height: 25vw;
    border-radius: 20px;
    -webkit-box-shadow: 9px 9px 23px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 23px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 9px 23px -7px rgba(0,0,0,0.75);
    border: rgb(61, 58, 58) solid 0.167vw;
    cursor: pointer;
    display: flex;
    animation: slideIn 0.5s ease-out forwards;
    transition: ease var(--animation-length);
}

    .card:hover {
        width: 21rem;
        height: 31.5rem;
        transition: ease var(--animation-length);
    }

        .card:hover span {
            font-size: larger;
            transition: ease var(--animation-length);
        }

.imageContainer {
    width: inherit;
    height: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 2.5vw;
}

.driverimg {
    position: relative;
    width: auto;
    height: 70%;
}

.Dmiddle {
    padding-left: 0.167vw;
    left: -39%;
    z-index: 10;
}

.Dleft, .Dright {
    padding-left: 0.167vw;
    height: 60%;
    top: 10%;
    border-radius: 20%;
}

.Dright {
    left: -75%;
}

#flipped {
    transform: scaleX(-1);
}

.teamimg {
    height: 65%;
    margin: 0 auto;
}

.titleContainer {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 0.9vw;
    color: black;
    transition: ease var(--animation-length);
}

a {
    text-decoration: none;
}

.newResImg {
    margin: 0 auto;
    margin-top: 2vw;
    width: auto;
    height: 50%;
}

.tableImg {
    height: 50%;
    margin: 0 auto;
    margin-top: 2vw;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
