:root {
    --pointbgcolor: #0d0f0d
}


p {
    margin: 0;
    margin-top: 0.3vh;
}



.topcontiner {
}

.logoNyear {
    width: 10vw;
    display: flex;
    align-items: center;
}

.titleNgp {
    display: flex;
}

.f1logo {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    filter: brightness(0%);
}

.year {
    color: black;
    font-size: 3.4vw;
}

.titleNgp {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.title {
    color: black;
    font-size: 1.7vw;
}

.currentgp {
    color: black;
    font-size: 1vw;
    text-align: right;
}

.driverstabContainer {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.table-gaps {
    border-collapse: separate;
    border-spacing: 0 0.3vw;
}

.table-reg {
    width: 100%;
    text-align: center;
}



.table-row {
    color: whitesmoke;
}

._8 {
    color: black;
}

.table-row td {
    height: 3vw;
    width: 3.5vw;
    font-size: 1.1vw;
    overflow: hidden;
}

.table-row td:last-child {
    height: 3vw;
    width: 0;
    overflow: hidden;
}

.name {
    padding-left: 1vw;
    text-align: left;
}

.point {
    text-align: center;
    background-color: var(--pointbgcolor);
    width: 3vw;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabledrwimg {
    position: relative;
}

.driverIMG {
    object-fit: cover;
    object-position: 0% 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%) scale(2);
}

.changed {
    background-color: var(--pointbgcolor);
    border-left: lightblue 0.3vw solid;
    text-align: center;
}

.teamstabContainer {
    display: flex;
    justify-content: center;
}

.table-team {
    width: 50vw;
}


.teamlogo {
    width: 100%;
    height: 3vw;
    object-fit: contain;
}

.changedIMG {
    width: 2vw;
    height: auto;
}

.table-title {
    width: 100%;
    text-align: center;
    padding-top: 2vw;
    font-size: 2vw;
    color: darkslategray;
}
